// Construction

div#page-construction img:hover {
    opacity: 0.5;
    transition: all .3s ease-in-out;
}

div#page-construction img {
    width: 230px;
    opacity: 0.8;
    height: 230px;
    transition: all .3s ease-in-out;
}

div#page-construction h4 {
    font-family: 'Gloria Hallelujah', cursive;
}