// Error Page CSS

.error {
    background-color: $white !important;
    font-family: 'Prompt', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: left;
    color: $dark-blue;
    z-index: 10;
}

.title {
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
}

.title-h2 {
    font-family: 'Josefin Sans', sans-serif;
}

ul#icons li a {
    color: rgba(33, 47, 69, 0.8);
    transition: all ease-in-out .2s;
}

ul#icons li a:hover {
    color: $dark-blue;
    transition: all ease-in-out .2s;
}