/* ===== Header ====== */

.navbar {
    background-color: $dark-blue;
    padding: 18px 0px;
    transition-duration: 0.6s;
    color: $white;
    font-family: 'Roboto', sans-serif;
}

.navbar:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    height: 2px;
    background: linear-gradient(to right, $blue-nav 25%, $yellow-dark 25%, $yellow-dark 50%, $orange-nav 50%, $red-light 75%, $green 75%);
}

.navbar:after {
    bottom: 0px;
}

.navbar .container a {
    font-weight: bold;
    font-size: 1.13em;
}

.navbar .container a i {
    color: $grey-light;
    font-size: 1.15em;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(/./images/menu-burguer.png) !important;
}

.navbar ul li a {
    color: $white !important;
    transition: all .3s ease-in-out;
}

.navbar ul li a:hover {
    transition: all .3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

div#navbarSupportedContent a {
    font-size: 1em;
}

.scroll_navbar {
    padding: 10px 0px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition-duration: 0.6s;
}

/* SIDEBAR */

.sidebar.open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.sidebar {
    background: $dark-blue;
}

.close-icon i {
    color: $grey-light;
    font-size: 1.5em;
    cursor: pointer;
}

.sidebar {
    color: $white;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    padding: 23px;
    position: fixed;
    border-left: 8px solid rgba(0, 0, 0, 0.2);
    right: 0;
    top: 0;
    -webkit-transition: all .7s ease 0s;
    -o-transition: all .7s ease 0s;
    transition: all .7s ease 0s;
    width: 250px;
    z-index: 9999;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    padding-bottom: 40px;
}

div.sidebar-content {
    font-size: 13.5px;
}

div.sidebar-content span {
    font-size: 13.3px;
}

div.sidebar-content h4 a .wrap {
    font-size: 19px;
    text-align: center;
    color: $white;
    cursor: none;
}

hr.line {
    border-top: 1px solid #E0FBFC;
    margin: 20px 35px 30px 35px;
}