--- 
layout: default
---

<!-- Main Start -->
<main class="pb-5 pt-5 flex-shrink-0" role="main">
    <div class="container">
      <!-- Begin of cards -->
       <div class="row justify-content-sm-center" id="card-deck">
        {{ content }}
            <!-- card 1 -->
            <!-- Home Post List -->
          {% for post in paginator.posts %}
              <div class="col-12 col-md-6 col-lg-4 mt-5" id="card-block">
                <div class="card">
                  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"><img src="{{ post.image_path }}" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    <div class="card-text-header pb-2"><i class="far fa-clock mr-2"></i>{{ post.date | date: '%B %d, %Y' }}</div>
                    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"><h5 class="card-title">{{ post.title }}</h5></a>
                    {% if post.subtitle %}
                    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"><p class="card-text">{{ post.subtitle }}</p></a>
                    {% endif %}
                  </div>
                  <div class="card-footer">
                    <small class="text-muted row no-gutters justify-content-lg-between align-middle">
                        <div class="col-8 col-md-8 pt-1 pt-md-0">Approximately {% include read_time.html content=post.content %}</div>
                        <div id="icons-footer" class="col-4 col-md-4 text-center">
                          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"><i class="fab fa-readme mr-md-2"></i></a>
                          <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank"><i class="fas fa-share"></i></a>
                        </div>
                    </small>
                  </div>
                </div>
              </div>

            {% endfor %}

          </div><!-- end of row -->
        </div> <!-- End of container -->


        <!-- Pager -->
        {% if paginator.total_pages > 1 %}
          <!-- button section -->
            <div class="container">
              <div class="row">
                <!-- Pager -->
                  <div class="py-5 wow mx-auto fadeInUp" data-wow-delay="0.5s" id="button">
                    {% if paginator.previous_page %}
                      <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
                      Newer<span class="d-none d-md-inline"> Posts</span></a>
                    {% endif %}

                    {% if paginator.next_page %}
                      <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a>
                    {% endif %}
                  </div>
              </div>
            </div>
            <!-- end of button -->

        {% endif %} 
        </div><!-- end of row-->
      </div> <!-- End of container -->
    </main>
<!-- End Main -->